.bg-blue {
    background: #2827ec;
}

.bg-red{
    background: #e9483f;
}

.bg-gray{
    background: #f4f4f4;
}

.text-blue{
    color: #2827ec;
}
.text-red{
    color: #e9483f;
}

.text-gray{
    color: #f4f4f4;
}

.text-white {
    color: #fff !important;
}

nav a :hover{
    color: #e9483f;
}